body {
    font-family: Helvetica, sans-serif;
    background-image: url(toppng.com-checkered-flag-facebook-banner-1921x411.png) !important;
    background-size: 1800px 300px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -100px;
    background-blend-mode: color-dodge;
}

#main {
    background-color: rgb(227, 227, 227) !important;
}

#headerStudy {
#header-study {
    color: #8cce6e;
}

#headerRacer {
    color: #df5959;
}

#buttonCreate {
#button-easy, #button-custom, #button-custom-race, #button-create {
    background-color: #8cce6e;
    color: black;
    border-color: #304826;
}

#buttonBeginner, #buttonCustom, #buttonCustomRace {
#button-login, #button-login-modal, #button-sign-up {
    background-color: #8cce6e;
    color: black;
    border-color: rgba(255, 255, 255, 0);
}

#buttonMaster {
    background-color: #df5959;
    color: black;
    border-color: #612828;
}

#customRaceModal {
#custom-race-modal, #custom-race-modal-footer {
    border-top: none;
    
}

.quote-display {
    margin-bottom: 1rem;

  }
  
.quote-input {
    background-color: rgb(220, 220, 220);
    border: 2px solid #A1922E;
    outline: none;
    width: 75%;
    height: 2.2rem;
    margin: auto;
    resize: none;
    padding-top: 0.2rem;
    font-size: 1rem;
    border-radius: .5rem;
  }
  
.quote-input:focus {
    border-color: white;
  }
  
.correct {
    color: #8cce6e;
  }
  
.incorrect {
    color: #df5959;
    text-decoration: underline;
  }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputIncorrect {
    background-color: #df5959;
}
.inputCorrect {
    background-color: blue;
}

#StudyR {
    height: 10%;
    width: auto;
    mix-blend-mode: difference;
}